@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Frontend.Data
@using Staffing.Shared
@inject StaffingService staffingService
@inject ILogger<Index> logger
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

@if (employees is null)
{
    <p>Loading...</p>
}
else
{
    <p>Our cluster currently consists of @employees.Count() people.</p>

    @if (!employees.Any())
    {
        <h2>There's no one here yet</h2>
    }
    else
    {
        <h2>The most recent new-joiners are:</h2>

        <div class="row">
            @foreach (var employee in employees.Take(3))
            {
                <div class="col-md-4">
                    <EmployeeCard Employee="@employee"></EmployeeCard>
                </div>
            }
        </div>
    }
}

<CreateEmployee></CreateEmployee>

@if (newEmployee is not null)
{
    <p>Someone joined the company!</p>
    <EmployeeCard Employee="@newEmployee"></EmployeeCard>
}

<p>Notifications area goes here</p>
@code {
    private HubConnection? hubConnection;
    private IDisposable? listener;
    private List<Employee>? employees;
    private Employee? newEmployee;

    protected override async Task OnInitializedAsync()
    {
        await SetupSignalRAsync();

        var employees = await staffingService.GetAllEmployeesAsync();
        this.employees = employees.OrderByDescending(e => e.JoinedOn).ToList();
    }

    private async Task SetupSignalRAsync()
    {
        var queryUri = NavigationManager.ToAbsoluteUri("/notificationshub");
        logger.LogInformation($"Calling hub on: {queryUri}");

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/notificationshub"))
    @* .WithUrl("https://cont-frontend.jollybush-3d99f517.northeurope.azurecontainerapps.io/notificationshub") *@
    .Build();

        listener = hubConnection.On<Employee>("EmployeeJoined", employee =>
        {
            newEmployee = employee;
            if (!employees!.Any(e => e.Id == employee.Id))
            {
                employees!.Add(employee);
                employees = employees.OrderByDescending(e => e.JoinedOn).ToList();
            }
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
}
